body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("https://raw.githubusercontent.com/vfillis/out-of-area-placements/main/docs/images/nicolas-j-leclercq-fbovpZ4GuLg-unsplash-2.jpg");
  min-height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.heading {
  color: #fff;
  padding: 18px;
  font-size: 2em;
  letter-spacing: 0.3em;
}

.caption span.subhead {
  color: #fff;
  padding: 18px;
  font-size: 1.5em;
  letter-spacing: 0.2em;
}

.caption span.byline {
  color: #fff;
  padding: 18px;
  font-size: 1em;
  letter-spacing: 0.2em;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 3%;
  right: 4%;
  z-index: 100;
  font-size: 2em;
  border: none;
  outline: none;
  background-color: grey;
  color: white;
  cursor: pointer;
  padding:1%;
  border-radius: 50%;
}

#to-top:hover {
  background-color: #555;
}

h3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
  padding:2%;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1 {
    background-attachment: scroll;
  }
}

.text {
  color: #777;
  background-color:white;
  text-align:left;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 18px;
}

.text a {
  color: #777;
  text-decoration: underline;
}

.first-word {
  font-size: 30px;
  line-height: 70px;
}

/* blockquotes */
.quote {
  font-style: italic;
}

.quote .source {
  font-style: normal;
  font-weight: bold;
}

/* Visualisations */
.flourish-embed {
  position:relative;
  width:90%;
  height: auto;
  margin: 0 auto;
}

/* Data and analysis */
.datasource {
  background: grey;
}  
  

@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.ft14 {
font-size: 44px !important;
  color:red;
}

@media print {
  .header {
    position: static;
  }
  
 @media print {
  a[href^="http"]:not([href*="mywebsite.com"])::after {
    content: " (" attr(href) ")";
  }
}
  
/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .text {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 14px;
  }
  .flourish-embed {
  position:relative;
  width:100%;
  height: auto;
  margin: 0 auto;
  }
}
  
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .text {
    width: 380px;
    margin-left:2%;
    margin-right:2%;
    font-size: 14px;
  }
}
